@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family:'Outfit', 'DM sans', sans-serif ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 300px;
    margin: 13vh 0;
    /* margin: auto 0; */
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;

    background-color: hsl(0, 0%, 100%);
}

.image {
    padding: 15px;
}

img {
    width: 100%;
    border-radius: 15px;
}

.text {
    text-align: center;
    padding: 0 20px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
    color:  hsl(220, 15%, 55%);
}